//Blackscale shade
$black: black;

//Whitescale shade
$white: #ffffff;

//Greyscale shade
$gray: #f1f1f1;
$silver-three: #f2f2f2;

//Redscale shades
$red: red;
$pale-red: #feeff0;
$pale-grey-red: #f2dede;
$alert-error: #F27474;
$toaster-error: #a94442;
$gray-88: #e0e0e0;
$text-grey: rgba(51, 51, 51, 0.6);
$input-box-format: #eeeeee;
$cherry-red: #f8011e;
$pinkish-red: #ed1c24;
$grey-bd: #bdbdbd;

//Greenscale shades
$green: green;
$alert-success: #A5DC86;
$status-ongoing: #8bc63f;
$vivid-green: #00b35e;
$turtle-green: #00b25a;
$toggle-switch-green: #00b25a;

//Bluescale shades
$blue: blue;
$border-blue: #66afe9;
