@import "./common/_color";
@import "./common/_grid";
@import "./common/_mixins";

body {
  margin: 0;
  padding: 0;
  border: 0;
  background: $silver-three;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: $black;
}